.destacado__titulo{
    position: absolute;
    top: 50%;    
    left: 50%;
    translate: -50% -50%;
    font-family: Pacifico, cursive;
    color: #FFFFFF;
    font-size: 5.063rem;
    width: 100%;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.75); 

}

@media screen and (max-width: 768px){
    .destacado__titulo{
        font-size: 4rem;
        line-height:normal;
    }
}